.footer {
  background: #1c1c1c; /* Fundo escuro para manter a consistência */
  color: #f1f1f1; /* Texto claro para contraste */
  padding: 30px 20px; /* Espaçamento adequado */
  text-align: center; /* Centraliza o conteúdo */
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: none; /* Removi a sombra para um visual mais limpo */
  font-family: 'Roboto', sans-serif; /* Fonte simples e moderna */
  font-size: 1rem; /* Tamanho de fonte mais discreto */
  letter-spacing: 0.5px;
  border-top: none; /* Sem borda superior */
  border-radius: 20px 20px 0 0; /* Bordas arredondadas para combinar com o header */
}

.footerLink {
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 8px 16px;
  border-radius: 10px; /* Bordas arredondadas para os links */
}

.footerLink:hover {
  color: #ff6347; /* Cor vibrante ao passar o mouse */
  background-color: rgba(255, 99, 71, 0.1); /* Cor suave no hover */
  transform: translateY(-3px); /* Suaviza o movimento do hover */
}
